!pip install -U pip setuptools wheel cmake build \
&& pip install git+https://github.com/rlabbe/filterpy.git \
&& pip install git+https://github.com/tryolabs/norfair.git --no-build-isolation \
&& pip install ultralytics scenedetect ffmpeg-python opencv-python
